SECRET_KEY="-jt&9*(a5#r4z7+_kjtuh1q35&71ugof2gzc@_3&!*o^s_@5!d29n*v6mw0i@uz$=(@r=5%6!04sap+g86&d_%if5qe0z2s"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="blog_base_de_dados"
POSTGRES_USER="blog_user"
POSTGRES_PASSWORD="blog_user_password"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"